
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <form method="post">
        <dl>
            <dt>name</dt>
            <dd><input type="text" name="txtname" /></dd>
            <dt>price</dt>
            <dd><input type="text" name="txtprice" /></dd>
        </dl>
        <button>Register</button>
    </form>
</div>
<h2>Details</h2>
<div>
    <ol>
        <li>@ViewBag.name</li>
        <li>@ViewBag.price</li>
    </ol>
</div>

